body {
  background-color: rgba(0, 0, 0, 0.411);
  margin: 0;
}

nav {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  max-height: 200px;
  justify-content: space-around;
  color: white;
  font-family: 'Hepta Slab', serif;
}

nav > .icon {
  max-width: 250px;
  align-self: center;
  row-gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  justify-items: center;
}

.logo {
  display: flex;
  width: 70px;
  padding-top: 20px;
}

.icon > img {
  max-height: 30px;
  padding-top: 30px;
  margin: auto;
  justify-self: center;
}

.topbutton {
  justify-self: center;
  align-self: center;
  background: black;
  border: white solid 5px;
  border-radius: 10px;
  height: 50px;
  width: 130px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.icondescription {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

main {
  width: 100%;
}

.container {
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  font-family: 'Raleway', sans-serif;
  grid-template-columns: repeat(2, minmax(min-content, auto));
}

.container > * {
  padding: 30px;
  font-size: 25px;
}

.title0 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-content: center;
  font-size: 15px;
}

.title0 > h1 {
  background-color: white;
  padding: 10px;
}

.one {
  background-color: rgba(184, 179, 179, 0.493);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.two {
  background-color: rgba(116, 116, 116, 0.555);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.three {
  background-color: rgba(255, 255, 255, 0.514);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.four {
  background-color: rgba(233, 229, 229, 0.527);
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.image1 {
  height: 70px;
  transform: rotate(-10deg);
  padding: 20px;
}

h3 {
  font-size: 30px;
}

.italic {
  font-style: italic;
  font-size: 20px;
}

.stories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.stories > img {
  grid-column: 1;
}

.stories > h3 {
  grid-column: 2;
  grid-row: 1 / span 3;
}

.stories > h2 {
  grid-column: 1 / -1;
  grid-row: 2;
}

.comment {
  grid-column: 1 / -1;
  grid-row: 3;
  font-size: 20px;
}

.comment > * {
  padding: 20px;
}

.hashtags {
  grid-column: 1;
}

.hashtags > * {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.arrow {
  grid-column: 1;
  margin-top: 30px;
  height: 20px;
}

.posts {
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
}

.post {
  min-width: 350px;
  background-color: white(255, 255, 255, 0.671);
}

.post :hover {
  background-color: white;
  transform: scale(1.05);
  transition: ease-in-out;
  transition-duration: 50ms;
}

.post > p > a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: 'Hepta Slab', serif;
  margin: 20px 0;
}

.post > p {
  padding: 40px;
}

.author.author {
  font-size: 18px;
  transform: scale(0.8);
}

.members {
  height: 400px;
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
}

.happy {
  font-size: 350px;
  grid-column: 1;
  grid-row: 1 / span 2;
  color: white;
  text-align: center;
}

.members-nbr {
  font-size: 80px;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  padding: 0;
  margin: 0;
}

.happy2 {
  grid-row: 2;
  grid-column: 2;
  justify-content: start;
  padding: 0;
  margin: 0;
}

.cu {
  font-size: 26px;
}

.cu2 {
  font-size: 48px;
  position: relative;
  top: -50px;
  right: -190px;
}

.person {
  background-color: whitesmoke;
}

.faces {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}

.linked-content {
  background-color: whitesmoke;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column > h4 {
  font-family: 'Hepta Slab', serif;
  padding-inline-start: 11px;
}

.links {
  font-family: 'Hepta Slab', serif;
}

.column > ul > li > a {
  text-decoration: none;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
}

li {
  list-style: none;
  text-align: center;
}

.newsletter {
  background-color: black;
  color: whitesmoke;
  font-size: 300px;
}

.members2 {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  margin: auto;
  justify-content: center;
  margin-top: 30px;
}

footer > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-weight: bold;
}

footer > div > span {
  font-size: 200px;
}

footer > div > p {
  width: 600px;
  text-align: center;
}
